<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmolPaws</title>

    
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/AnimalList.css" rel="stylesheet" />
    <link href="~/css/carausel.css" rel="stylesheet" />

    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @await Component.InvokeAsync("Navbar")


  
        @RenderBody()
    
        <footer>
            <p>&copy; 2018 - SmolPaws</p>
        </footer>
    


    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.mins.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/holder.mins.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
