@model User
@{
    ViewData["Title"] = "Profile";
}

<div style="margin-top:25px">
    <p class="lead">You can update your profile here</p>
    <form method="post" asp-action="Profile" asp-controller="User">

        <div class="form-group col-md-5">
            <label asp-for="FirstName">Firstname</label>
            <input asp-for="FirstName" placeholder="@Model.FirstName" value="" class="form-control" />
        </div>

        <div class="form-group col-md-5">
            <label asp-for="LastName">Lastname</label>
            <input asp-for="LastName" placeholder="@Model.LastName" value="" class="form-control" />
        </div>

        <div class="form-group col-md-5">
            <label asp-for="EMail">E-Mail</label>
            <input asp-for="EMail" placeholder="@Model.EMail" value="" class="form-control" />
        </div>

        <div class="form-group col-md-5">
            @if (ViewBag.UserExist)
            {
                <script>alert("Username exists already");</script>
            }
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" placeholder="@Model.UserName" value="" class="form-control" />
        </div>
        <div class="form-group col-md-5">
            <button type="submit" class="btn btn-dark">Update</button>
        </div>

    </form>
</div>
<a asp-action="ChangePassword">Click here to change password</a>

