<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="~/images/cats.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">

                    <h2>Little hearts wait for your help</h2>
                    <p><a class="btn btn-dark" asp-controller="Animal" asp-action="List" role="button">Donate</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="~/images/doggo.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <div class="p-3 mb-10 bg-success text-white">
                        <h2>Give A Gift To Bring Light</h2>
                        
                        </div>
                    </div>
                </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="~/images/santacat.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                <div class="p-3 mb-10 bg-danger text-white">
                    <h2>Wish You A Happy Christmas! </h2>

                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Donate Supplies</span></h2>
        <p>
            Items such as food, cat litter, cleaning supplies and blankets are almost always in demand at
            animal shelters and rescues. While pets await adoption, they need access to food, making pet food a
            significant operating expense for animal welfare organizations.
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="~/images/homeless.jpg" alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">

    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="~/images/pupi.jpeg" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">Donate Now</span></h2>
        <p>
            Donate now via our secure website and put your gift to work right away. Make your gift recurring, and be a part of our SmolPaws Club!
            Your sustaining gifts will help us plan ahead to provide a secure future for every animal who comes to us in need. You can also use this online form to donate in memory or honor of a beloved person or animal. PAWS will send a card to your honoree, or to the family of your tribute.
        </p>
    </div>
</div>
