@model Donate
@{
    ViewData["Title"] = "Donate";
}

<div style="margin-top:25px">
<form asp-action="Donate" method="post">

    <div class="form-group col-md-5">

        <label asp-for="Name">Name : </label>
        <input asp-for="Name" class="form-control" />

    </div>


    <div class="form-group col-md-5">
        <label asp-for="LastName">LastName: </label>
        <input asp-for="LastName" class="form-control" />
    </div>



    <div class="form-group col-md-5">

        <label asp-for="Address">Address : </label>
        <input asp-for="Address" class="form-control" />

    </div>



    <div class="form-group col-md-5">
        <label asp-for="CreditCard">Credit Card : </label>
        <input asp-for="CreditCard" class="form-control" />

    </div>



    <div class="form-group col-md-5">
        <label asp-for="Donation">Donation : </label>
        <input asp-for="Donation" class="form-control" />

    </div>
    <div class="form-group col-md-5">
        <button type="submit"  class="btn btn-dark">Submit</button>
    </div>
</form>
    </div>
